footer {
  background-color: $color-accent;
  color: $font-white;
  position: relative;
  padding: 10px 0;

  @include mq (tablet){
    padding: 35px 0;
  }

  div.grid-x {
    justify-content: flex-end;

    @include mq(tablet){
      justify-content: flex-start;
    }
  }
}

.footer-logo {
  position: absolute;
  bottom: 0;
  max-width: 100px;

  @include mq(tablet){
    max-width: 157px;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.footer-links {
  justify-content: flex-start;
  width: 51%;
  line-height: 1.2;
  margin-left: 200px;

  @include mq(tablet){
    width: 100%;
  }
  @include mq(desktop){
    margin-left: 215px;
    justify-content: space-between;
  }

  li {
    &:hover a {
      color: $font-white;
      text-decoration: underline;
    }

    &:first-child {
      margin-bottom: 7.5px;
    }

    &:last-child {
      display: none;
    }
  }
  @include mq(desktop){
    li {
      &:last-child {
        display: block;
      }
    }
  }
}