.fullbleed--home {
  background-image: url('../assets/home-hero.png');
  background-position: center;
}

@include mq(tablet){
  #skills .skills__item:nth-child(n + 3) {
    margin-top: 50px;
  }
}

.skills__image {
  width: 138px;
  height: 90px;
  margin-bottom: 20px;

  img {
    height: auto;
    width: auto;
    max-height: 100%;
  }
}

.skills__text {
  color: $color-accent;
}

#who {
  padding: 50px 0;

  @include mq(tablet){
    padding: 90px 0;
  }

  h2 {
    margin-bottom: 5px;
  }

  p.wide-width {
    margin-bottom: 35px;
  }

  .image-container {
    margin-bottom: 20px;
  }
}