.fullbleed--home {
  background-image: url('../assets/home-hero.png');
}

@include mq(tablet){
  #skills .feature__item:nth-child(n + 3) {
    margin-top: 50px;
  }
}

.feature__image {
  width: 138px;
  height: 90px;
  margin-bottom: 20px;

  img {
    height: auto;
    width: auto;
    max-height: 100%;
  }
}

.feature__text {
  color: $color-accent;
}

#who {
  padding: 90px 0;

  h2 {
    margin-bottom: 5px;
  }

  p.wide-width {
    margin-bottom: 35px;
  }

  .image-container {
    margin-bottom: 20px;
  }
}