.safety-hero {
  width: 100%;
  height: 60vh;
  background-image: url('../assets/safety-hero.jpg');
  background-size: cover;
  background-position: 6.5% 0;

  @include mq(tablet){
    background-position: 0 0;
  }

  h1 {
    color: white;
    text-align: center;
    padding-top: 30px;

    @include mq(tablet){
      padding-top: 50px;  
    }
  }
}

#safety {
  padding: 60px 0;
  h2 {
    margin-bottom: 5px;
  }

  p {
    text-align: center;
  }
}