.fullbleed--trip {
  background-image: url('../assets/trip-hero2.jpg');
  background-position: 40% 0;
}

#trip-cta {
  padding-top: 60px;
  padding-bottom: 85px;

  .frame-banner {
    margin-bottom: 50px;

    @include mq(tablet){
      margin-bottom: 100px;
    }
  }

  .leads-form {

    .input-1, .input-2, .input-3 {
      width: 100%;
      border: none;
      border-bottom: 1px solid $border-grey;
      box-shadow: none;
      color: $font-grey;
      margin-bottom: 19px;
      margin-right:19px;

      &::placeholder {
        color: $font-grey;
      }
    }

    @include mq(tablet){
      .input-1 {
        width: calc((100% - 90px) / 3);
      }

      .input-2 {
        width: calc((100% - 37px) *  2/ 3);
      }

      .input-3 {
        width: 100%;
      }
    }
    // input {
    //   border: none;
    //   width: 47.5%;


    //   @include mq(tablet){
    //     &:nth-child(-n + 3), &[name="phoneNumber"]{
    //       width: calc((100% - 90px) / 3);
    //       //TODO: add recaptcha
    //     }
  
    //     &[name="number of people"]{
    //       width: calc( ( (100% - 90px) / 3 ) * 2 + 45px );
    //     }
    //   }
    // }

    .button {
      width: 275px;
      margin-bottom: 20px;

      @include mq(tablet){
        margin-bottom: 0;
      }
    }

    .g-recaptcha {
      width: 100%;

      @include mq(tablet){
        margin-left: -15px;
      }

      & > div {
        transform: scale(0.91);
        margin: 0 auto;

        @include mq(tablet){
          margin: 0;  
        }
      }

    }
  }
}
