header,
button,
footer {
  font-size: var(--font-size-body--small);
}

body {
  margin: 0;
  color: $font-black;
  font-family: $font-style-body;
  font-size: var(--font-size-body);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-size-h1);
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-style-title;
  line-height: 1.25;
}

h2 {
  text-transform: uppercase;
  font-size: var(--font-size-h2);
  margin: 0 auto;
  text-align: center;
  font-family: $font-style-title;
  line-height: 1.25;
}

h3 {
  text-transform: uppercase;
  font-size: var(--font-size-h3);
  font-family: $font-style-title;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  text-transform: uppercase;
  font-size: var(--font-size-h4);
  font-family: $font-style-title;
  margin-top: 0;
  margin-bottom: 0;
}

.font-blue {
  color: $color-accent;
}

.font-white {
  color: $font-white;
}

.fullbleed {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq (desktop){
    height: 52.75vh
  }
}

.grid-x.grid-margin-x.vertical-stack > .cell:not(:first-child) {
  margin-top: 50px;

  @include mq (desktop){
    margin-top: 0;
  }
}

.grid-x.grid-margin-x > .cell:not(:first-child) {
  margin-top: 50px;

  @include mq (tablet){
    margin-top: 0;
  }
}

.fullbleed-text-container {
  text-align: center;
  text-transform: uppercase;
  color: $font-white;
}

.fullbleed--pattern {
  height: auto;
  background-image: url('../assets/banner-pattern.jpg');
  padding: 60px 0;

  @include mq(tablet){
    padding: 110px 0;
  }
}

.image-container {
  img {
    display: block;
    width: 100%;
  }
}

.button {
  background-color: $color-accent;
  color: $font-white;
  font-weight: 700;
  font-size: inherit;
  padding: 15px 35px;
  margin: 0;

  &:hover {
    background-color: $color-accent--hover;
  }
}

ul {
  list-style: none;
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  @include mq(tablet){
    padding: 80px 0;
  }
}

.banner--blue {
  background-color: $color-accent;
}

.banner--white {
  background-color: #ffffff;
  h2 {
    color: $color-accent;
  }
  p {
    color: $font-black;
  }
}

.banner-text {
  color: $font-white;
  text-align: center;
  width: 870px;

  h2 {
    margin-bottom: 5px;
  }
}

.frame-banner {
    padding: 35px 10px 25px 10px;
    background-image: url('../assets/banner-pattern.png');
    background-size: cover;
    max-width: 679px;
    margin: 0 auto;
    color: $color-accent;
    position: relative;

    @include mq(tablet){
      padding-top: 50px;
      padding-bottom: 10px;
    }

    h2 {
      max-width: 430px;
    }
}

.blue-frame {
  width: 100%;
  border: 5px solid $color-accent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include mq(tablet){
    top: 20px;
    left: 20px;
    bottom: -25px;
  }
}

.wide-width {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.small-font {
  font-size: var(--font-size-body--small);
}

.highlight {
  font-weight: bold;
  color: $color-accent;
  cursor: pointer;

  &:hover, &:focus{
    text-decoration: underline;
  }
}

.leads-form {
  max-width: 917px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;

  .flatpickr {
    background-color: transparent;
  }

  .button {
    margin: 25px auto 0 auto;

    @include mq(tablet){
      margin: 40px auto 0 auto;
    }
  }
}
